<h1>New User</h1>
<%= form_for @changeset, Routes.user_path(@conn, :create), fn f -> %>
  <div>
    <%= label f, :name %>
    <%= text_input f, :name %>
    <%= error_tag f, :name %>
  </div>
  
  <div>
    <%= label f, :email %>
    <%= email_input f, :email %>
    <%= error_tag f, :email %>
  </div>

  <div>
    <%= submit "Create User" %>
  </div>
<% end %>
